<!DOCTYPE html>
<html>
  <head>
    <title>Markit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  	<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans+Condensed:300|Pacifico" rel="stylesheet">
  </head>
  <%= render 'layouts/header' %>
  <body>
    <%= yield %>
  </body>
</html>
